/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap breakpoints
*/
/* Extra-Small devices (less than 425px) */
.title {
    font-size: 18px;
}
.smaller-title{
    font-size: 14px;
}
.heading {
    font-size: 40px;
}
text {
    font-size: 60%;
}

/* Small devices (phones, 425px and up) */
@media only screen and (min-width: 425px) {  
    .title {
        font-size: 20px;
    }
    .smaller-title{
        font-size: 16px;
    }
    .heading {
        font-size: 48px;
    }
    text {
        font-size: 80%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .heading {
        font-size: 56px;
    }
    text {
        font-size: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
    text {
        font-size: 120%;
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {  
    text {
        font-size: 160%;
    }
}
