<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>

  <!-- Load color palette -->
  <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>

  <!-- Load venn diagram library -->
  <!-- https://github.com/upsetjs/venn.js -->
  <script src="../js/libraries/venn.min.js"></script>

  <link rel="stylesheet" href="../css/font.css">

  <title>Reuse Proportion Venn Diagram</title>

</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark align-items-baseline">
    <!-- Brand -->
    <span class="navbar-brand title">
      <a href="../index.html" class="text-white text-decoration-none">
        <img src="../images/icons/bc.png" alt="BC logo" style="width:40px;"/>
        BorrowCup Dashboard
      </a>
    </span>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse align-items-baseline" id="collapsibleNavbar">
      <ul class="navbar-nav align-items-baseline">
        <li class="nav-item">
          <a class="nav-link" href="usefreq.html">Use Frequency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="returntime.html">Return Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reusetime.html">Reuse Time</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="reuseprop.html">Reuse Proportions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="usagepattern.html">Usage Pattern</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cuploss.html">Cup Loss</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto align-items-baseline">
        <li class="nav-item">
          <span class="navbar-text">Created By: Arihant Jain</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/arihant-jain-here" target="_blank" rel="noopener noreferrer">
            <img src="../images/icons/linkedin.png" alt="LinkedIn" style="width:40px;"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.github.com/arihant-jain" target="_blank" rel="noopener noreferrer">
            <img src="../images/icons/github.svg" alt="GitHub" style="width:40px;"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-5">
    <h1 class="display-4 heading">Reuse Proportions</h1>
    <p class="lead text-justify">The following venn diagrams shows the proportions of cups' uses per week. 
        Each circle represents a category: <i>Once, Twice</i> or <i>Thrice</i> (per week). It is evident 
        from the diagrams below that most of the cups have only been used <i>Once</i> a week, some 10 to 
        40 percent were used either <i>Once</i> or <i>Twice</i>, and only a minuscule amount of cups were 
        used <i>three</i> times in some weeks. The numbers on the diagrams denote the amount of cups 
        inside each disjoint group. However, the precentages that appear on mouse hover denote the 
        percentage of cups (out of total cups) inside the highlighted boundary.
    </p>
    <p class="lead text-justify">      
      Due to missing records for <i>sales</i>, the <i>sales</i> venn diagram doesn't represent the true or 
      a highly accurate picture, and should be used with caution. To help you with this, the <i>returns</i> 
      venn diagram has also been provided. The caveat here is that the <i>two</i> returns in a week doesn't 
      necessarily mean <i>two</i> sales in that week.
    </p>
    <p>Please Note: Data post 22<sup>nd</sup> January, 2020 has been used to build the diagrams.
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Create a div where the graph will take place -->
      <div class="col-md-6 px-0 mx-auto" id="datavizleft" style="font-size: 10px;"></div>

      <!-- Create a div where the graph will take place -->
      <div class="col-md-6 px-0 mx-auto" id="datavizright" style="font-size: 10px;"></div>
    </div>
  </div>
  <script type="text/javascript" src="../js/reusePropVenn.js"></script>

  <div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
      <span class="small">Credit for the GitHub icon goes to
        <a href='https://dryicons.com/icon/circle-github-icon-8309'>Dryicons</a>
      </span>
    </div>
  </div>
</body>
</html>