<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>

  <!-- Load color palette -->
  <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>

  <!-- Load venn diagram library -->
  <!-- https://github.com/upsetjs/venn.js -->
  <script src="../js/libraries/venn.min.js"></script>

  <link rel="stylesheet" href="../css/font.css">

  <title>Reuse Proportion Venn Diagram</title>

</head>
<body>
  <div id="navigation-div"></div>
  <script src="../js/helpers/navigationBar.js"></script>
  
  <div class="container my-5">
    <h1 class="display-4 heading">Reuse Proportions</h1>
    <p class="lead text-justify">The following venn diagrams shows the proportions of cups' uses per week. 
        Each circle represents a category: <i>Once, Twice</i> or <i>Thrice</i> (per week). It is evident 
        from the diagrams below that most of the cups have only been used <i>Once</i> a week, some 10 to 
        40 percent were used either <i>Once</i> or <i>Twice</i>, and only a minuscule amount of cups were 
        used <i>three</i> times in some weeks. The numbers on the diagrams denote the amount of cups 
        inside each disjoint group. However, the precentages that appear on mouse hover denote the 
        percentage of cups (out of total cups) inside the highlighted boundary.
    </p>
    <p class="lead text-justify">      
      Due to missing records for <i>sales</i>, the <i>sales</i> venn diagram doesn't represent the true or 
      a highly accurate picture, and should be used with caution. To help you with this, the <i>returns</i> 
      venn diagram has also been provided. The caveat here is that the <i>two</i> returns in a week doesn't 
      necessarily mean <i>two</i> sales in that week.
    </p>
    <p>Please Note: Data post 22<sup>nd</sup> January, 2020 has been used to build the diagrams.
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Create a div where the graph will take place -->
      <div class="col-md-6 px-0 mx-auto mb-3 mb-md-0" id="datavizleft" style="font-size: 10px;"></div>

      <!-- Create a div where the graph will take place -->
      <div class="col-md-6 px-0 mx-auto mt-3 mt-md-0" id="datavizright" style="font-size: 10px;"></div>
    </div>
  </div>
  <script type="text/javascript" src="../js/reusePropVenn.js"></script>
  <script type="text/javascript" src="../js/reloadOnResize.js"></script>

  <div id="footer-div"></div>
  <script>
    $('#footer-div').load('../footer.html .page-footer');
  </script>
</body>
</html>