<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>

  <!-- Load color palette -->
  <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>

  <link rel="stylesheet" href="../css/font.css">

  <title>Cups Usage Pattern</title>

</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark align-items-baseline">
    <!-- Brand -->
    <span class="navbar-brand title">
      <a href="../index.html" class="text-white text-decoration-none">
        <img src="../images/icons/bc.png" alt="BC logo" style="width:40px;"/>
        BorrowCup Dashboard
      </a>
    </span>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse align-items-baseline" id="collapsibleNavbar">
      <ul class="navbar-nav align-items-baseline">
        <li class="nav-item">
          <a class="nav-link" href="usefreq.html">Use Frequency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="returntime.html">Return Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reusetime.html">Reuse Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reuseprop.html">Reuse Proportions</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="usagepattern.html">Usage Pattern</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cuploss.html">Cup Loss</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto align-items-baseline">
        <li class="nav-item">
          <span class="navbar-text">Created By: Arihant Jain</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/arihant-jain-here" target="_blank" rel="noopener noreferrer">
            <img src="../images/icons/linkedin.png" alt="LinkedIn" style="width:40px;"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.github.com/arihant-jain" target="_blank" rel="noopener noreferrer">
            <img src="../images/icons/github.svg" alt="GitHub" style="width:40px;"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-5">
    <h1 class="display-4 heading">Cups Usage Pattern</h1>
    <p class="lead text-justify">The following Arc diagram shows the BorrowCups' usage pattern from week 
      to week using the data collected post 22<sup>nd</sup> Jan 2020. 
      The donut charts (circles) represent weeks and the arcs represent the weeks a set of cups were used and 
      their proportions.
    </p>
    <p class="lead text-justify">
      For example, the arc between Week 4 and 5 indicates the number of cups used in Week 4 and then in 
      Week 5. Similarly, the arc between Week 5 and 9 indicates the number of cups used in Week 5 that 
      were not used again until Week 9. The width of the arc is proportionate to the number of cups used.
      The donut charts representing weeks shows the distribution of the cups used once in a week in 
      <span class="badge" style="background-color: turquoise;">Turquoise</span>, cups with 2 or more 
      uses in a week in <span class="badge" style="background-color: skyblue;">Skyblue</span>, cups used 
      solely in a week (out of all weeks) in <span class="badge" style="background-color: greenyellow;">Greenyellow</span> 
      colour.
    </p>    
  </div>
  <div class="jumbotron jumbotron-fluid py-4 my-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3">Data Source:</div>
        <div class="col-lg-2 col-md-3">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="saleRadio" name="source" value="sale" checked onchange="reloadChart(this)">
            <label class="custom-control-label" for="saleRadio">Sale Data</label>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="returnRadio" name="source" value="return" onchange="reloadChart(this)">
            <label class="custom-control-label" for="returnRadio">Return Data</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Create a div where the graph will take place -->
      <div class="col-12 col-md-10 px-0 mx-auto" id="dataviz" style="font-size: 10px;"></div>
    </div>
  </div>
  <script type="text/javascript" src="../js/usagePatternArcDiagram.js"></script>

  <div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
      <span class="small">Credit for the GitHub icon goes to
        <a href='https://dryicons.com/icon/circle-github-icon-8309'>Dryicons</a>
      </span>
    </div>
  </div>
</body>
</html>